.parent{
    display: grid;
    place-items: center;
}
.super-center .parent {
    display: grid;
    place-items: center;
}
.brand-logo{
    font-family: Montserrat;
    font-style: italic;
    font-weight: 900;
    font-size: 36px;
    color:  #130F26;
    line-height: 93px;
    /* identical to box height */

}
.company{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 900;
    font-size: 100px;
    color: white;

}
.tuyendung{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    color:  #130F26;
}
.bg-org{
    background-color:   #FF7739;
}
.so-tuyen-dung{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    /* identical to box height */
    color: #130F26;
}
.ten-nghe-nghiep{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    /* identical to box height */
    color: white;
}